<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkb48.keepdo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".TasksActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskSettingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".TaskActivity"
            android:label="@string/title_activity_task"></activity>
        <activity
            android:name=".TaskDetailActivity"
            android:label="@string/title_activity_task"></activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"></activity>
        <activity
            android:name=".TaskSortingActivity"
            android:label="@string/sort_task"></activity>

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".RemindAlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="com.hkb48.keepdo.action.UPDATE_REMINDER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".KeepdoProvider"
            android:authorities="com.hkb48.keepdo.keepdoprovider"
            android:exported="true"></provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".widget.TasksWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.hkb48.keepdo.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/taskswidget" />
        </receiver>

        <service
            android:name=".ActionHandler"
            android:exported="false" />
        <service
            android:name=".widget.TasksWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
